{%extends 'LAYOUT.html'%}
{% block title %}General{% endblock %}
{% block content %}
 
 <script>
    document.getElementById('iniciarsesionButton').style.display = 'none';
    document.getElementById('registrarseButton').style.display = 'none';
    document.getElementById('cerrarsesionButton').style.display = 'inline-block';
    
</script>

<div class="p-10 flex flex-col items-center justify-center space-y-16">
    <!--SELECTOR-->
    <div class="inline-block relative">
        <p class="italic font-bold">Selecciona aquí el año para visualizar los datos</p>
        <form  method="POST" action="{{ url_for('GENERAL') }}" class="flex flex-col bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center">  
          <select name="ano"class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center">
            <option class="">Año</option>
            <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">2011</a></option>
            <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">2012</a></option>
            <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">2013</a></option>
            <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">2014</a></option>
            <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">2015</a></option>
            <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">2016</a></option>
            <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">2017</a></option>
            <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">2018</a></option>
            <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">2019</a></option>                  
          </select>
          <button type="submit">OPRIME AQUÍ PARA VER LOS RESULTADOS</button>
        </form>
    </div>
    <p>En esta tabla puedes encontrar la precipitación (agua lluvia) en milímetros de cada mes 1 año seleccionado para cada una de las estaciones climáticas</p>
    <table id='result' class="relative table-auto rounded-t-lg m-5 w-5/6 mx-auto bg-green-800 text-green-200">
        <thead class="text-left border-b border-green-300">
          <th class="px-4 py-3">estación</th>
          <th class="px-4 py-3">mes</th>
          <th class="px-4 py-3">precipitación (mm)</th>
        </thead>
        <tbody class="text-left bg-green-700 border-b border-green-600">
          {% if labels4 %}  
            {%for i in range(values9|length)%}
            <tr>
              <th>{{values7[i]}}</th>
              <th>{{values8[i]}}</th>
              <th class="px-4 py-3">{{values9[i]}}</th>
            </tr>
            {%endfor %}
          {% endif %}
        </tbody>
    </table>

    <p>En esta tabla puedes encontrar la temperatura máxima promedio en grados centígrados de cada mes de un año seleccionado para cada una de las estaciones</p>
    <table id='result' class="relative table-auto rounded-t-lg m-5 w-5/6 mx-auto bg-green-800 text-green-200">
      <thead class="text-left border-b border-green-300">
        <th class="px-4 py-3">estación</th>
        <th class="px-4 py-3">mes</th>
        <th class="px-4 py-3">temperatura máxima promedio</th>
        <th class="px-4 py-3">temperatura mínima promedio</th>
      </thead>
      <tbody class="text-left bg-green-700 border-b border-green-600">
        {% if labels5 %}  
          {%for i in range(values12|length)%}
          <tr>
            <th>{{values10[i]}}</th>
            <th class="px-4 py-3"
            >{{values11[i]}}</th>
            <th>{{values12[i]}}</th>
            <th class="px-4 py-3">{{values13[i]}}</th>
          </tr>
          {%endfor %}
        {% endif %}
      </tbody>
    </table>
</div>

<!--PIE DE PAGINA-->
<footer class="flex justify-end items-end footer bg-gray-200 relative pt-1 border-b-2 border-green-700">
    <!-- se crea un contenedor con margen y padding a los lados (mx px) -->
    <div class="container mx-auto px-6">
      <!-- se brindan atributos de flexbox para darle alineación vertical a los elementos (flex col) -->
      <div class="flex flex-col">
          <!-- Se añaden propiedades al texto como uppercase, que pone el texto en mayusculas y font-bold (negrilla), propiedades de color (text gray), adicionalmente un margen (abajo)  -->  
          <span class="font-bold text-green-700 uppercase mb-2">Creado por</span>
          <!-- En este elemento, al ser un link, se agrega la propiedad de hover para darle un efecto de cambio (de color) para cuando el apuntador pase por encima -->
          <p class="font-bold text-gray-700 font-bold mb-2">Valentina Ortega Paz</p>
          <p class="font-bold text-gray-700 font-bold mb-2">Isaac Mesa Maya</p>
          <p class="font-bold text-gray-700 font-bold mb-2">Karen Valentina Obando</p>
        </div>
    </div>
  </footer>
{% endblock %}
