<!--Todos los documentos HTML deben comenzar con una declaración <! DOCTYPE>.
La declaración no es una etiqueta HTML. Es una "información" para el navegador sobre qué tipo de documento esperar.-->
<!DOCTYPE html>
<!--El comando lang se usa para establecer el idioma del documento o un rango de texto-->
<html lang="en">
<!-- El espacio que se abre entre provee <head> </head> se usa para configurar la información general del encabezado, incluyendo su título y enlaces a scripts y hojas de estilos.-->
<head>
    <!--Indica el título del documento.
    Este elemento es obligarorio y debe estar ubicado dentro del elemento head.-->
    <!--El atributo charset especifica la codificación de caracteres para el documento HTML
    le está diciendo a su navegador que use la codificación de caracteres UTF-8, que es un método para convertir los caracteres escritos en código legible por máquina.-->    
    <meta charset="UTF-8">
    <!--FALTA DESCRIPCIÓN-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Esto significa que el navegador renderizará el ancho de la página al ancho de su propia pantalla.-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--titulo página-->
      <title>Estaciones</title>
    <!--Estos siguientes tres renglones se usan para configurar que se esta trabajando con un framework especifico (Tailwind CSS), 
    También se están utilizando iconos de Fontawesome, y se '''FALTA STYLE'''-->
      <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <link rel="stylesheet" href="style.css">
  </head>
    <!--fin del head-->
    <!--La parte visible del documento HTML se encuentra entre <body> y </body>.-->
    <!--inicio del body--> 
<body>
  <!--Creación barra de navegacion-->
    <nav class="flex items-center justify-between flex-wrap bg-green-200 p-6">
      <!--icono y titulo 1 proyecto-->
      <div class="flex items-center flex-shrink-0 text-black mr-6">
        <span class="font-semibold text-2x1 tracking-wide">
          <i class="fas fa-cloud-sun"></i>
          PROYECTO
        </span>
      </div>
      <!--Boton de menú responsive-->
      
      <div class="block lg:hidden">
        <button class="flex items-center p-3 rounded text-blue-500 border-black hover:text-white hover:border-white">
          <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
      </div>
      <!--Se crea un bloque en donde se utilizan las etiquetas las sirven para nodificar el tamaño del componente en la pagi, tam...
      la definicion de cada etiqueta esta en el siguiente link-->
      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <!--Bloques al lado de proyecto-->
        <!-- Se establece un display tipo bloque y un margen condicionado en el tamaño de la pantalla, para lg o más se quita el margen.Adicionalmente se establecen condiciones de estilo-->
        <div class="text-xl lg:flex-grow">
          <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-red-200 onclick:text-white mr-4">
          Home
          </a>
          <a href="/Pronosticos/" class="block mt-4 lg:inline-block lg:mt-0 text-red-200 hover:text-white mr-4">
          Pronosticos
          </a>
          <a href="/Estaciones/" class="block mt-4 lg:inline-block lg:mt-0 text-red-200 hover:text-white mr-4">
          Estaciones
          </a>
          <a href="/General/" class="block mt-4 lg:inline-block lg:mt-0 text-red-200 hover:text-white mr-4">
          General
          </a>
        </div>
        <!--bloque de sign in y registrarse-->
        <div>
          <a href="/IniciarSesion/" class="inline-block text-sm px-4 py-2 leading-none border rounded text-gray-500 border-white hover:border-transparent hover:text-gray-500 hover:bg-white mt-4 lg:mt-0">Sign in</a>
          <a href="/Registrarse/" class="inline-block text-sm px-4 py-2 leading-none border rounded text-gray-500 border-white hover:border-transparent hover:text-gray-500 hover:bg-white mt-4 lg:mt-0">Register</a>
        </div>
      </div>
    </nav>
    <!--fin barra de navegación-->
    <!--AQUI VAN LOS LINKS-->
    <div>
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-bar" class="svg-inline--fa fa-chart-bar fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M332.8 320h38.4c6.4 0 12.8-6.4 12.8-12.8V172.8c0-6.4-6.4-12.8-12.8-12.8h-38.4c-6.4 0-12.8 6.4-12.8 12.8v134.4c0 6.4 6.4 12.8 12.8 12.8zm96 0h38.4c6.4 0 12.8-6.4 12.8-12.8V76.8c0-6.4-6.4-12.8-12.8-12.8h-38.4c-6.4 0-12.8 6.4-12.8 12.8v230.4c0 6.4 6.4 12.8 12.8 12.8zm-288 0h38.4c6.4 0 12.8-6.4 12.8-12.8v-70.4c0-6.4-6.4-12.8-12.8-12.8h-38.4c-6.4 0-12.8 6.4-12.8 12.8v70.4c0 6.4 6.4 12.8 12.8 12.8zm96 0h38.4c6.4 0 12.8-6.4 12.8-12.8V108.8c0-6.4-6.4-12.8-12.8-12.8h-38.4c-6.4 0-12.8 6.4-12.8 12.8v198.4c0 6.4 6.4 12.8 12.8 12.8zM496 384H64V80c0-8.84-7.16-16-16-16H16C7.16 64 0 71.16 0 80v336c0 17.67 14.33 32 32 32h464c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"></path></svg>
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" class="svg-inline--fa fa-chart-area fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg>
    </div>
  </body>
</html>
