{%extends 'LAYOUT.html'%}
{% block title %}General{% endblock %}
{% block content %}
 <!--INICIO GRÁFICO-->
 <script>
    document.getElementById('iniciarsesionButton').style.display = 'none';
    document.getElementById('registrarseButton').style.display = 'none';
    document.getElementById('cerrarsesionButton').style.display = 'inline-block';
    
</script>
<div class="flex justify-center">
    <canvas id="grafico" width="900" height="500"></canvas>
</div>
<script>
    var ctx = document.getElementById('grafico').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: {{ labels1 | safe}}, //eje x
            datasets: [{
                label: ['enero'], //titulo
                borderColor: '#F0998C',
                fill: false,
                tension: 0.1,
                data: {{ value1 | safe }}, //valores a graficar
            },
            {
                label: ['febrero'], //titulo
                borderColor: '#F0663C',
                fill: false,
                tension: 0.1,
                data: {{ value2 | safe }}, //valores a graficar
            },
            {
                label: ['marzo'], //titulo
                borderColor: '#FAD43E',
                fill: false,
                tension: 0.1,
                data: {{ value3 | safe }} //valores a graficar
            },{
                label: ['abril'], //titulo
                borderColor: '#70D9F8',
                fill: false,
                tension: 0.1,
                data: {{ value4 | safe }} //valores a graficar
            },
            {
                label: ['mayo'], //titulo
                borderColor: '#8A38F5',
                fill: false,
                tension: 0.1,
                data: {{ value5 | safe }} //valores a graficar
            },
            {
                label: ['junio'], //titulo
                borderColor: '#D7A5F5',
                fill: false,
                tension: 0.1,
                data: {{ value6 | safe }} //valores a graficar
            },
            {
                label: ['julio'], //titulo
                borderColor: '#51E344',
                fill: false,
                tension: 0.1,
                data: {{ value7 | safe }} //valores a graficar
            },]
        },        
        // Configuration options go here
        options: {
            responsive: false
        }
    });
</script>
  <div class="flex justify-center">
    <canvas id="myChart" width="900" height="500"></canvas>
  </div>
  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',
  
        // The data for our dataset
        data: {
            labels: {{ labels2 | safe}}, //eje x
            datasets: [{
                label: ['temperatura máxima'], //titulo
                borderColor: 'green',
                backgroundColor:['lightgreen','rgb(54, 162, 235)','rgb(255, 205, 86)'],
                data: {{ values | safe }} //valores a graficar
            }]
        },        
        // Configuration options go here
        options: {
            responsive: false
        }
    });
  </script>
<!--FIN GRÁFICO-->
<!--DEFINIR FOOTER-->
<footer class="flex justify-end items-end footer bg-gray-200 relative pt-1 border-b-2 border-green-700">
    <!-- se crea un contenedor con margen y padding a los lados (mx px) -->
    <div class="container mx-auto px-6">
      <!-- se brindan atributos de flexbox para darle alineación vertical a los elementos (flex col) -->
      <div class="flex flex-col">
          <!-- Se añaden propiedades al texto como uppercase, que pone el texto en mayusculas y font-bold (negrilla), propiedades de color (text gray), adicionalmente un margen (abajo)  -->  
          <span class="font-bold text-green-700 uppercase mb-2">Creado por</span>
          <!-- En este elemento, al ser un link, se agrega la propiedad de hover para darle un efecto de cambio (de color) para cuando el apuntador pase por encima -->
          <p class="font-bold text-gray-700 font-bold mb-2">Valentina Ortega Paz</p>
          <p class="font-bold text-gray-700 font-bold mb-2">Isaac Mesa Maya</p>
          <p class="font-bold text-gray-700 font-bold mb-2">Karen Valentina Obando</p>
        </div>
    </div>
  </footer>
{% endblock %}
