{%extends 'LAYOUT.html'%}
{% block title %}inicio{% endblock %}
{% block content %}
<script>
    document.getElementById('iniciarsesionButton').style.display = 'inline-block';
    document.getElementById('registrarseButton').style.display = 'inline-block';
    document.getElementById('cerrarsesionButton').style.display = 'none';
</script>

<div class="flex items-center mt-6">
    <div class="flex container items-center flex-col bg-green-600 p-4">
    <h1 class="text-4xl text-green-900">CONTEXTO</h1><br>
    <p class="text-left">Este proyecto se realizó con el propósito de crear un primer modelo para una posible
             implementación en un proyecto de diseño de página web de la Fundación Ecohabitats en el que se 
             comparten diferentes análisis de datos basados en información climática (variables de precipitación, 
             temperatura máxima y temperatura mínima) con los campesinos de las veredas del noroccidente de Popayán.
        </p>
    </div>
    <div class="flex container border border-green-300 rounded items-center flex-col p-4 bg-green-200 mt-7"> 
    <h1 class="text-green-700 text-5xl">SOCIAL CLIMA</h1>
    <h3 class="text-left text-black text-3xl"> </h3>
    <p class="flex p-8">Para poder acceder a la pagina de general y ver las diferentes comparaciones de datos primero registrarte o iniciar sesión en los botones arriba a tu derecha</p>
    </div>
   
    <div class="container">  
            <h2 class="text-4xl text-green-900">Manejo de datos</h2><br>
            <p class="text-left">Esta aplicacion tiene la finalidad de generar diversas tablas donde se puedan generar distintos medios para graficar y entender datos tomados anteriormente y subidos a una base de datos </p>
        </div>
</div>
{% endblock %}
