{%extends 'LAYOUT.html'%}
{% block title %}inicio{% endblock %}
{% block content %}
<script>
    document.getElementById('iniciarsesionButton').style.display = 'inline-block';
    document.getElementById('registrarseButton').style.display = 'inline-block';
    document.getElementById('cerrarsesionButton').style.display = 'none';
    
</script>
<div class="flex items-center mt-6">
    <div class="flex container items-center flex-col bg-green-600 p-4">
    <p><a href="/Pronosticos/" class="text-gray-200" >Pronósticos</a></p><br>
    <p><a href="/Estaciones/"class="text-gray-200">Estaciones</a></p><br>
    <p><a href="/General/"class="text-gray-200">General</a></p>
    </div>
    <div class="flex container border border-green-300 rounded items-center flex-col p-4 bg-green-200 mt-7"> 
    <h1 class="text-green-700 text-5xl">SOCIAL CLIMA</h1>
    <h3 class="text-left text-black text-3xl"> </h3>
    <p class="flex p-8">Para poder acceder a los enlaces de la izquierda debes primero registrarte o iniciar sesión en los botones a tu derecha</p>
    </div>
   
    <div class="flex container items-center flex-col align-top bg-green-600 p-4">
        <div class="inline-block border border-gray-200 rounded p-4 text-gray-200">
            <p><a href="/IniciarSesion/" class="text-gray-200" >Iniciar Sesión</a></p>        
        </div><br>
        <div class="flex items-center inline-block border border-gray-200 rounded p-4 text-gray-200">
            <p><a href="/Registrarse/"class="text-gray-200">Registrarse</a></p>
        </div>
    </div>
</div>
{% endblock %}
