{%extends 'LAYOUT.html'%}
{% block title %}inicio{% endblock %}
{% block content %}
<div class="flex items-center">
  <div class="flex container items-start flex-col bg-gray-300 p-4">
  <p><a href="#" class="text-blue-400" >LINK 1</a></p><br>
  <p><a href="#"class="text-blue-400">LINK 2</a></p><br>
  <p><a href="#"class="text-blue-400">LINK 3</a></p>
  </div>
  <div class="flex container items-center flex-col p-4"> 
  <h1 class="text-black text-5xl">PLANTILLA</h1>
  <p>plantilla hecha a partir de establecer el framework que se va a usar, para dar orden a la pagina</p><br>
  <h3 class="text-left text-black text-3xl">Test</h3>
  <p>se usara bootstrap tres como ejemplo con la posibilidad de cambiarlo en el informe_05 </p>
  </div>
 
  <div class="flex container items-end flex-col align-top bg-gray-300 p-4">
      <div class="inline-block border border-black rounded p-4">
          <p>Informacion Basica</p>
      </div><br>
      <div class="inline-block border border-black rounded p-4">
          <p>Informacion Basica</p>
      </div>
  </div>
</div>
{% endblock %}
