{%extends 'LAYOUT.html'%}
{% block title %}Pronosticos{% endblock %}
{% block content %}
<script>
    document.getElementById('iniciarsesionButton').style.display = 'inline-block';
    document.getElementById('registrarseButton').style.display = 'inline-block';
    document.getElementById('cerrarsesionButton').style.display = 'none';
    
</script>

<div class="p-10 flex flex-col items-center justify-center space-y-16">
      <!--SELECTORES *(ORGANIZARLOS HORIZONTALMENTE)*-->
    <div class="inline-block relative">
      <p class="italic font-bold">Selecciona aquí el año y mes para visualizar los datos</p>
      <form  method="POST" action="{{ url_for('PRONOSTICOS') }}" class="flex flex-col bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center">  
        <select name="estacion"class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center">
          <option class="">Estación</option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">E1</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">E2</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">E3</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">E4</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">E5</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">E6</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">E7</a></option>
        </select> 
        <select name="ano"class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center">
          <option class="">Año</option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">2011</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">2012</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">2013</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">2014</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">2015</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">2016</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">2017</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">2018</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">2019</a></option>                  
        </select>
        <select name="mes"class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center">
          <option class="">Mes</option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">01</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">02</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">03</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">04</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">05</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">06</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">07</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">08</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">09</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">10</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">11</a></option>
          <option class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">12</a></option>                  
        </select>
        
        <button type="submit">OPRIME AQUÍ PARA VER LOS RESULTADOS</button>
      </form>
    </div>

    
    <p class="text-lg">En esta gráfica puedes encontrar la precipitación (agua lluvia) en milímetros diaria de una estación durante un mes y año seleccionado</p>
    <p class="text-sm">Si quieres ver el valor de precipitación, coloca el cursor sobre la barra</p>
    <div class="flex justify-center">
      <canvas id="myChart" width="600" ></canvas>
    </div>
    <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      var chart = new Chart(ctx, {
          // The type of chart we want to create
          type: 'bar',
    
          // The data for our dataset
          data: {
              labels: {{ labels1 | safe}}, //eje x
              datasets: [{
                  label: ['precipitación (mm)'], //titulo
                  borderColor: 'green',
                  backgroundColor:['#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB','#3489EB'],
                  data: {{ values1 | safe }} //valores a graficar
              }]
          },        
          // Configuration options go here
          options: {

              responsive: false
          }
      });
    </script>

    <p class="text-lg">En esta tabla puedes encontrar el número de días en los que ha llovido en una estación durante un mes y año seleccionado</p>
    <table id='result' class="relative table-auto rounded-t-lg m-5 w-5/6 mx-auto bg-green-800 text-green-200">
      <thead class="text-left border-b border-green-300">
        <th class="px-4 py-3">estación</th>
        <th class="px-4 py-3">mes</th>
        <th class="px-4 py-3">año</th>
        <th class="px-4 py-3">número de días con lluvia</th>
      </thead>
      <tbody class="text-left bg-green-700 border-b border-green-600">
        {% if labels2 %}  
          <tr>
            <td>{{values2[0]}}</td>
            <td class="px-4 py-3">{{values2[1]}}</td>
            <td>{{values2[2]}}</td>
            <td>{{values2[3]}}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>

    <p class="text-lg">En esta tabla vas a encontrar la precipitación (agua lluvia) en milímetros en una estación durante cada uno de los meses del año</p>
    <table id='result' class="relative table-auto rounded-t-lg m-5 w-5/6 mx-auto bg-green-800 text-green-200">
      <thead class="text-left border-b border-green-300">
        <th class="px-4 py-3">estación</th>
        <th class="px-4 py-3">mes</th>
        <th class="px-4 py-3">precipitación (mm)</th>
      </thead>
      <tbody class="text-left bg-green-700 border-b border-green-600">
        {% if labels3 %}  
          {%for i in range(values4|length)%}
          <tr>
            <th class="px-4 py-3">{{values5[i]}}</th>
            <th>{{values3[i]}}</th>
            <th class="px-4 py-3">{{values4[i]}}</th>
          </tr>
          {%endfor %}
          <tr>
          <th class="px-4 py-3">{{values6}}</th>
          <th class="px-4 py-3"></th>
          <th class="px-4 py-3">{{values7}}</th>
          </tr>
        {% endif %}
      </tbody>
    </table>
    
</div>
<!--DEFINIR FOOTER-->
<footer class="flex justify-end items-end footer bg-gray-200 relative pt-1 border-b-2 border-green-700">
    <!-- se crea un contenedor con margen y padding a los lados (mx px) -->
    <div class="container mx-auto px-6">
      <!-- se brindan atributos de flexbox para darle alineación vertical a los elementos (flex col) -->
      <div class="flex flex-col">
          <!-- Se añaden propiedades al texto como uppercase, que pone el texto en mayusculas y font-bold (negrilla), propiedades de color (text gray), adicionalmente un margen (abajo)  -->  
          <span class="font-bold text-green-700 uppercase mb-2">Creado por</span>
          <!-- En este elemento, al ser un link, se agrega la propiedad de hover para darle un efecto de cambio (de color) para cuando el apuntador pase por encima -->
          <p class="font-bold text-gray-700 font-bold mb-2">Valentina Ortega Paz</p>
          <p class="font-bold text-gray-700 font-bold mb-2">Isaac Mesa Maya</p>
          <p class="font-bold text-gray-700 font-bold mb-2">Karen Valentina Obando</p>
        </div>
    </div>
  </footer>
{% endblock %}
