{%extends 'LAYOUT.html'%}
{% block title %}Pronosticos{% endblock %}
{% block content %}
<div class="flex items-stretch justify-center">
    <!--BOTONES LATERALES-->
    <div class="bg-gray-300">
        <button type="button" class="p-4"><span class="glyphicon glyphicon-info-sign"></span>Info</button><br>
        <button type="button" class="p-4"><span class="glyphicon glyphicon-picture"></span>download</button><br>
        <button type="button" class="p-4"><span class="glyphicon glyphicon-print"></span>Print</button>
    </div>
    <!--FIN BOTONES LATERALES-->
    <div class="flex flex-col p-4"> 
        <!--INICIO PARRAFO ANALISIS-->
        <h1 class="text-5xl">Analisis</h1><br>
        <p>Los pronósticos se hacen colectando tantos datos como sea posible acerca del estado de la atmósfera<br>
        (particularmente temperatura, presión atmosférica, vientos, humedad y precipitaciones) y usando <br>
        conocidos procesos atmosféricos (a través de la meteorología) para determinar los patrones futuros<br>
        atmosféricos.
        </p>
        <!--FIN PARRAFO ANALISIS-->
        <hr>
        <!--INICIO PARRAFO TEST-->
        <h3 class="text-3xl">Test</h3><br>
        <p>Históricamente, en la estación {{ locInt_FincaPronostico | safe }} de Popayán, durante el mes de {{ locStr_MesPronostico | safe }}, caen {{ locInt_PrecipitacionenmmPronostico | safe }} de lluvia. Las probabilidades nos dicen que se espera que caigan {{ locInt_ProbabilidadprecipitacionPronostico | safe }} de lluvia</p>
        <!--FIN PARRAFO TEST-->
        <hr>
        <!--INNICIO PARRAFO TABLA-->
        <div class="container">  
            <h2 class="text-4xl">Tabla de datos</h2><br>
            <p>esta tabla esta diseñada mediante html, donde se le implementaron los datos manualmente, pero en su<br> version final sacara los datos de una base de datos</p>
        </div><br>
        <!--FIN PARRAFO TABLA-->
        <!--INICIO TABLA-->
        <div class="p-4">
            <table class="border border-black rounded">
                    <tr class="border border-black rounded">
                    <th class="border border-black rounded p-4">MESES</th>
                    <th class="border border-black rounded p-4">TEMPERATURA MAXIMA</th>
                    <th class="border border-black rounded p-4" >#DIAS QUE LLOVIO</th>
                    </tr>

                    <tr class="border border-black rounded">
                    <td class="border border-black rounded p-4">Julio</td>
                    <td class="border border-black rounded p-4">27 grados</td>
                    <td class="border border-black rounded p-4">13 dias</td>
                    </tr>

                    <tr class="border border-black rounded">
                    <td class="border border-black rounded p-4">Agosto</td>
                    <td class="border border-black rounded p-4">26 grados</td>
                    <td class="border border-black rounded p-4">23 dias</td>
                    </tr>

                    <tr class="border border-black rounded">
                    <td class="border border-black rounded p-4">Septiembre</td>
                    <td class="border border-black rounded p-4">24 grados</td>
                    <td class="border border-black rounded p-4">16 dias</td>
                    </tr>
            </table>   
        </div>
        <!--FIN TABLA-->
    </div>
    <div class="bg-gray-300">
        <!--IMAGEN-->
        <div class="flex justify-center">
            <canvas id="myChart" width="900" height="500"></canvas>
        </div>
        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'pie',
    
                // The data for our dataset
                data: {
                    labels: {{ labels | safe}}, //eje x
                    datasets: [{
                        label: ['var1','var2','var3'], //titulo
                        backgroundColor:['lightgreen','rgb(54, 162, 235)','rgb(255, 205, 86)'],
                        borderColor: 'green',
                        data: {{ values | safe }} //valores a graficar
                    }]
                },        
                // Configuration options go here
                options: {
                    responsive: false
                }
            });
        </script>
        <!--BOTON INFORMACION BASICA-->
        <div class="border border-black rounded">
            <p class="p-4">Informacion Basica</p>
        </div>
        <!--FIN BOTON-->
    </div>
</div><br>
<!--DEFINIR FOOTER-->
<!-- Se crea el footer de la página, agregandole la clase footer para darle , colores (border blue) y algunos elementos de diseño: (padding top, border y relative) -->
<footer class="flex justify-end items-end footer bg-gray-200 relative pt-1 border-b-2 border-blue-700">
    <!-- se crea un contenedor con margen y padding a los lados (mx px) -->
    <div class="container mx-auto px-6">
        <!-- se brindan atributos de flexbox para darle alineación vertical a los elementos (flex col) -->
        <div class="flex flex-col">
            <!-- Se añaden propiedades al texto como uppercase, que pone el texto en mayusculas y font-bold (negrilla), propiedades de color (text gray), adicionalmente un margen (abajo)  -->
            <span class="font-bold text-gray-700 uppercase mb-2">Pie de página</span>
            <!-- En este elemento, al ser un link, se agrega la propiedad de hover para darle un efecto de cambio (de color) para cuando el apuntador pase por encima -->
            <span class="my-2"><a href="#" class="text-blue-700  text-md hover:text-blue-500">link 1</a></span>
        </div>
    </div>
</footer>
{% endblock %}
