{# La etiqueta es la clave aquí. Le dice al motor de plantillas que esta plantilla "extiende" otra plantilla. Cuando el sistema de plantillas evalúa esta plantilla, primero localiza al padre. La etiqueta de extensión debe ser la primera etiqueta de la plantilla, usamos {% extends __name__%} para llamar a la plantilla padre.
Para representar el contenido de un bloque definido en la plantilla principal, usamos {% block __name__%}#}
{%extends 'LAYOUT.html'%}
{% block title %}Login{% endblock %}
{% block content %}
{#  - form representa un formulario. En este formulario se agregan los diferentes campos de entrada de datos o de confirmación, así como los botones como el de envío.
  - label es un componente, que se utilizan para mostrar texto como el contenido de variables, campos o mensajes en pantalla, este control posee propiedades para cambiar la apariencia del texto. 
  En la tabla encontraras las propiedades que usa el control label o etiqueta, en este caso usamos un for="".
   - Este formulario es utilizado en nuestro código para contrasena y usuario.
  - for se usa cuando queremos repetir un conjunto de instrucciones un número finito de veces, en este caso utilizamos for="usuario".
  - input se usa para crear controles interactivos para formularios basados en la web con el fin de recibir datos del usuario. 
  - type es una funcion que  permite averiguar el tipo de dato que estamos tratando.
   - value se usa para definir el valor de lo que estamos ingresando un el input#}


<script>
  document.getElementById('iniciarsesionButton').style.display = 'inline-block';
  document.getElementById('registrarseButton').style.display = 'inline-block';
  document.getElementById('cerrarsesionButton').style.display = 'none';
</script>

<div class="flex flex-wrap flex-col justify-center items-center border-content md:p-8 md:mx-64 md:mt-32 bg-gray-200">
  <form action="" method="POST" class="flex flex-col">
  <label for="usuario"> Usuario</label>
  <input type="text" name="usuario" class="border-4 boder-black bg-gray-200"><br>
  <label for="contrasena">Contraseña:</label>
  <input type="password" name="contrasena" class="border-4 boder-black bg-gray-200"><br>
  <input type="submit" value="Ingresar" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-8 rounded">
  </form><br>
  <hr>
  <h3>¿No tienes cuenta? Dale click al siguiente botón para registrarte</h3>
  <br>
  <a href="/Registrarse/" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-8 rounded">
  Registrarse
  </a>
</div>
{% endblock %}
