<!DOCTYPE html>
<html>
<body>

<h2>REGISTRAR</h2>

<form action="/action_page.php">
  <label for="fname"> Email:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Contraseña:</label><br>
  <input type="text" id="lname" name="lname"><br><br>
  <label for="lname">Confirmar contraseña:</label><br>
  <input type="text" id="lname" name="lname"><br><br> 
  <input type="submit" value="Ingresar">
</form> 

<p>Si da clicken el boton"Ingresar", esta informacion será enviada a una pagina llamada "/action_page.php".</p>

</body>
</html>
